<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Car shop</title>

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/top-bottom.css">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
<header>
    <div class="header">
        <div class="container">
            <div class="top-panel">
                <h1>Auto Shop</h1>
                <div class="top-links">
                    <ul>
                        <li><a href="Reg.html">Регистрация</a></li>
                        <li><a href="">Войти</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="header-content">
                <div class="logo">
                    <img src="img/logo1.jpg" alt="">
                </div>
                <nav class="nav">
                    <ul class="menu-list">

                        <li class="menu-link">
                            <a href="">Машины</a>
                            <ul class="sub-menu-list">
                                <li class="sub-menu-link"><a href="assets/Cars.html">Легковые</a></li>
                                <li class="sub-menu-link"><a href="">Минивэн</a></li>
                                <li class="sub-menu-link"><a href="">Пикапы</a></li>
                            </ul>
                        </li>

                        <li class="menu-link">
                            <a href="">Запчасти</a>
                            <ul class="sub-menu-list">
                                <li class="sub-menu-link"><a href="">Автозапчати</a></li>
                                <li class="sub-menu-link"><a href="">Мотозапчати</a></li>
                                <li class="sub-menu-link"><a href="">Запчати для комерческих</a></li>
                            </ul>
                        </li>
                        <li class="menu-link">
                            <a href="">Ремонт и услуги</a>
                            <ul class="sub-menu-list">
                                <li class="sub-menu-link"><a href="">Тюнинг</a></li>
                                <li class="sub-menu-link"><a href="">Ремонт</a></li>
                                <li class="sub-menu-link"><a href="">Услуги</a></li>
                            </ul>
                        </li>
                        <li class="menu-link">
                            <a href="">Комерческие</a>
                            <ul class="sub-menu-list">
                                <li class="sub-menu-link"><a href="">Грузовики</a></li>
                                <li class="sub-menu-link"><a href="">Автобусы</a></li>
                                <li class="sub-menu-link"><a href="">Спецтехника</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
            <div class="spec-add">
                <div class="spec-add-content">
                    <p>Легковые автомобили в вашем городе</p>
                 </div>
            </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="prod_list">
            <div class="prod">
                <div class="carss">
                <div class="prod_img">
                    <a href="#"><img src="img/sub.png" alt=""></a>
                </div>
                <div class="prod_content">
                    <div class="prod_title">
                        <a href="info.html">Subaru 2020</a>
                        <p> 2020 г., Б/у кроссовер, 2 л, бензин, вариатор,  с пробегом 108 000 км, красный, металлик, литые диски, тонировка, вет...</p>
                    </div>
                    <div class="prod_links">
                            <p s>Алматы <span>500 просмотров</span></p>
                        <a style="color: #D14F4F" href="#">Добавить в избранные</a>
                    </div>
                </div>
                <div class="prod_price">
                    <p>13 990 000 ₸</p>
                    <p>В кредит</p>
                    <span>298 387 ₸</span>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="prod_list">
            <div class="prod">
                <div class="carss">
                    <div class="prod_img">
                        <a href="#"><img src="img/mer.jpg" alt=""></a>
                    </div>
                    <div class="prod_content">
                        <div class="prod_title">
                            <a href="#">Mercedes-Benz E 320 2001</a>
                            <p> 1998 г., Б/у седан, 2 л, бензин, КПП автомат, синий, металлик, литые диски, тонировка, ветровики, багажник, ксенон, дн...</p>
                        </div>
                        <div class="prod_links">
                            <p s>Алматы <span>300 просмотров</span></p>
                            <a style="color: #D14F4F" href="#">Добавить в избранные</a>
                        </div>
                    </div>
                    <div class="prod_price">
                        <p>6 000 000 ₸</p>
                        <p>В кредит</p>
                        <span>134 387 ₸</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="prod_list">
            <div class="prod">
                <div class="carss">
                    <div class="prod_img">
                        <a href="#"><img src="img/deooo.jpeg" alt=""></a>
                    </div>
                    <div class="prod_content">
                        <div class="prod_title">
                            <a href="#">Daewoo Nexia 2012</a>
                            <p> 2012 г., Б/у седан, 1.5 л, бензин, КПП механика, с пробегом 221 000 км, белый, металлик, литые диски, тонировка, обвес...</p>
                        </div>
                        <div class="prod_links">
                            <p s>Алматы <span>233 просмотров</span></p>
                            <a style="color: #D14F4F" href="#">Добавить в избранные</a>
                        </div>
                    </div>
                    <div class="prod_price">
                        <p>1 700 000 ₸</p>
                        <p>В кредит</p>
                        <span>66 840 ₸</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="prod_list">
            <div class="prod">
                <div class="carss">
                    <div class="prod_img">
                        <a href="#"><img src="img/toy.jpg" alt=""></a>
                    </div>
                    <div class="prod_content">
                        <div class="prod_title">
                            <a href="#">Toyota Camry 2019</a>
                            <p> 2019 г., Б/у седан, 2.5 л, бензин, КПП автомат, коричневый, металлик, литые диски, тонировка, ксенон, биксенон, хруста...</p>
                        </div>
                        <div class="prod_links">
                            <p s>Алматы <span>12 просмотров</span></p>
                            <a style="color: #D14F4F" href="#">Добавить в избранные</a>
                        </div>
                    </div>
                    <div class="prod_price">
                        <p>1 200 000 ₸</p>
                        <p>В кредит</p>
                        <span>23 121 ₸</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="prod_list">
            <div class="prod">
                <div class="carss">
                    <div class="prod_img">
                        <a href="#"><img src="img/mark.jpg" alt=""></a>
                    </div>
                    <div class="prod_content">
                        <div class="prod_title">
                            <a href="#">Toyota Mark II 1994</a>
                            <p> 1994 г., Б/у седан, 2.5 л, бензин, правый руль, КПП автомат, с пробегом 164 000 км, белый, металлик, литые диски, тони...</p>
                        </div>
                        <div class="prod_links">
                            <p s>Алматы <span>500 просмотров</span></p>
                            <a style="color: #D14F4F" href="#">Добавить в избранные</a>
                        </div>
                    </div>
                    <div class="prod_price">
                        <p>4 000 000 ₸</p>
                        <p>В кредит</p>
                        <span>134 387 ₸</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div id="row"  class="row">
   <p>Страницы: <a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a><a href="#">....</a></p>
        </div>
    </div>
</section>
<footer style="margin-top: 60px;">
    <div class="container">
        <div class="footer flex">
            <div class="columns">
                <p>© 2014-2021 При использовании материалов сайта обязательным условием является наличие гиперссылки в пределах первого абзаца на страницу расположения исходной статьи.</p>
            </div>
            <div class="columns">
                <h3>Контакты</h3>
                <div class="social-net">
                    <img src="img/icons/uil_whatsapp-alt.svg" alt="">
                    <img src="img/icons/Vector.svg" alt="">
                    <img src="img/icons/Vector-1.svg" alt="">
                    <img src="img/icons/Vector-2.svg" alt="">
                </div>
            </div>
            <div class="columns">
                <h3>Мобильное приложение</h3>
                <a href="">Playmarket</a>
                <a href="">AppStore</a>
            </div>
            <div class="columns">
                <a href="">О магазине</a>
                <a href="../index.html">Главное меню</a>
                <a href="contacts.html">Контакты</a>
                <a href="">Каталог</a>
                <a href="">Оплата</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>