{% extends 'shop/base.html' %}
{% load static %}
{%block content%}
<section>
    <div class="container">
        <div class="spec-add">
            <div class="spec-add-content">
                <p> Автозапчасти в вашем городе</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="cars flex">
            <div class="car">
                <img src="img/parts/tur.jpg" alt="">
                <p>Турбина</p>
            </div>
            <div class="car">
                <img src="img/parts/far.jpg" alt="">
                <p>Блок-фара Лада Гранта</p>
            </div>
            <div class="car">
                <img src="img/parts/amor.jpg" alt="">
                <p>Амортизатор ваз 2114</p>
            </div>
            <div class="car">
                <img src="img/parts/os.jpg" alt="">
                <p>Задняя ось BMW</p>
            </div>
        </div>
        <div class="cars flex">
            <div class="car">
                <img src="img/parts/Stec.jpg" alt="">
                <p>Лобовое стекло Mercedes-Benz Vito</p>
            </div>
            <div class="car">
                <img src="img/parts/Shin.jpg" alt="">
                <p>Шины</p>
            </div>
            <div class="car">
                <img src="img/parts/gl.jpg" alt="">
                <p>Глушитель для Газель</p>
            </div>
            <div class="car">
                <img src="img/parts/dat.jpg" alt="">
                <p>Датчик давления приора</p>
            </div>
        </div>
        <div class="cars flex">
            <div class="car">
                <img src="img/parts/bamp.jfif" alt="">
                <p>Бампер Toyota Camry 40</p>
            </div>
            <div class="car">
                <img src="img/parts/Kr.jpg" alt="">
                <p>Крыло Toyota Camry</p>
            </div>
            <div class="car">
                <img src="img/parts/zbamp.jpg" alt="">
                <p>Задний бампер BMW E36</p>
            </div>
            <div class="car">
                <img src="img/parts/zer.jfif" alt="">
                <p>Боковое зеркало Mercedes-Benz</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div id="row"  class="row">
            <p>Страницы: <a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a><a href="#">....</a></p>
        </div>
    </div>
</section>
{%endblock%}