{% extends 'shop/base.html' %}
{% load static %}    
{%block content%}
<section>
    <div class="container">
            <div class="spec-add">
                <div class="spec-add-content">
                    <p>Легковые автомобили в вашем городе</p>
                 </div>
            </div>
    </div>
</section>
{%for object in object_list%}
    {% if object.category == 'pickup' %}
        <section>
            <div class="container">
                <div class="prod_list">
                    <div class="prod">
                        <div class="carss">
                        <div class="prod_img">
                            <a href="#"><img src="{{object.image.url}}" alt=""></a>
                        </div>
                        <div class="prod_content">
                            <div class="prod_title">
                                <a href="{% url 'info' %}">{{object.name}}</a>
                                <p> {{object.short_description}}</p>
                            </div>
                            <div class="prod_links">
                                    <p s>Алматы <span>500 просмотров</span></p>
                                <a style="color: #D14F4F" href="{%url 'payment' id=object.id%}">Купить</a>
                            </div>
                        </div>
                        <div class="prod_price">
                            <p></p>
                            <p>В кредит</p>
                            <span>{{object.price}}</span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    {%endif%}
{%endfor%}
<!-- 
<section>
    <div class="container">
        <div class="prod_list">
            <div class="prod">
                <div class="carss">
                    <div class="prod_img">
                        <a href="#"><img src="img/mer.jpg" alt=""></a>
                    </div>
                    <div class="prod_content">
                        <div class="prod_title">
                            <a href="#">Mercedes-Benz E 320 2001</a>
                            <p> 1998 г., Б/у седан, 2 л, бензин, КПП автомат, синий, металлик, литые диски, тонировка, ветровики, багажник, ксенон, дн...</p>
                        </div>
                        <div class="prod_links">
                            <p s>Алматы <span>300 просмотров</span></p>
                            <a style="color: #D14F4F" href="#">Добавить в избранные</a>
                        </div>
                    </div>
                    <div class="prod_price">
                        <p>6 000 000 ₸</p>
                        <p>В кредит</p>
                        <span>134 387 ₸</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="prod_list">
            <div class="prod">
                <div class="carss">
                    <div class="prod_img">
                        <a href="#"><img src="img/deooo.jpeg" alt=""></a>
                    </div>
                    <div class="prod_content">
                        <div class="prod_title">
                            <a href="#">Daewoo Nexia 2012</a>
                            <p> 2012 г., Б/у седан, 1.5 л, бензин, КПП механика, с пробегом 221 000 км, белый, металлик, литые диски, тонировка, обвес...</p>
                        </div>
                        <div class="prod_links">
                            <p s>Алматы <span>233 просмотров</span></p>
                            <a style="color: #D14F4F" href="#">Добавить в избранные</a>
                        </div>
                    </div>
                    <div class="prod_price">
                        <p>1 700 000 ₸</p>
                        <p>В кредит</p>
                        <span>66 840 ₸</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="prod_list">
            <div class="prod">
                <div class="carss">
                    <div class="prod_img">
                        <a href="#"><img src="img/toy.jpg" alt=""></a>
                    </div>
                    <div class="prod_content">
                        <div class="prod_title">
                            <a href="#">Toyota Camry 2019</a>
                            <p> 2019 г., Б/у седан, 2.5 л, бензин, КПП автомат, коричневый, металлик, литые диски, тонировка, ксенон, биксенон, хруста...</p>
                        </div>
                        <div class="prod_links">
                            <p s>Алматы <span>12 просмотров</span></p>
                            <a style="color: #D14F4F" href="#">Добавить в избранные</a>
                        </div>
                    </div>
                    <div class="prod_price">
                        <p>1 200 000 ₸</p>
                        <p>В кредит</p>
                        <span>23 121 ₸</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="prod_list">
            <div class="prod">
                <div class="carss">
                    <div class="prod_img">
                        <a href="#"><img src="img/mark.jpg" alt=""></a>
                    </div>
                    <div class="prod_content">
                        <div class="prod_title">
                            <a href="#">Toyota Mark II 1994</a>
                            <p> 1994 г., Б/у седан, 2.5 л, бензин, правый руль, КПП автомат, с пробегом 164 000 км, белый, металлик, литые диски, тони...</p>
                        </div>
                        <div class="prod_links">
                            <p s>Алматы <span>500 просмотров</span></p>
                            <a style="color: #D14F4F" href="#">Добавить в избранные</a>
                        </div>
                    </div>
                    <div class="prod_price">
                        <p>4 000 000 ₸</p>
                        <p>В кредит</p>
                        <span>134 387 ₸</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div id="row"  class="row">
   <p>Страницы: <a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a><a href="#">....</a></p>
        </div>
    </div>
</section> -->

{%endblock%}