{% extends 'shop/base.html' %}
{% load static %}
{%block content%}
<section>
    <div class="container">
        <div class="spec-add">
            <div class="spec-add-content">
                <p>Информация</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
    <h2>Subaru 2020</h2>
    <div class="main_img">
        <div class="left-img">
        <a href="#"><img src="img/38-All-New-Subaru-Xv-2020-Redesign-and-Concept.jpg.740x555_q85_box-764,0,3818,2291_crop_detail_upscale.jpg" alt="" class="scale"></a>
    </div>
        <div class="right-img">
            <a href="#"><img src="img/32014.jpg" alt="" class="scale"></a>
            <a href="#"><img style="margin-top: 20px" src="img/33.jpg" alt=""class="scale"></a>
        </div>
    </div>
</div>
</section>
<section>
    <div class="container">
        <div class="main_info">
    <div class="left-info">
        <div class="tech-spec">
            <table class="table table-striped">

                <tbody>
                <tr>
                    <td style="color: #D14F4F">Город</td>
                    <td class="sec">Алматы</td>
                </tr>
                <tr>
                    <td style="color: #D14F4F">Кузов</td>
                    <td class="sec">Кроссовер</td>
                </tr>
                <tr>
                    <td style="color: #D14F4F">Объем двигателя, л</td>
                    <td class="sec">2(бензин)</td>
                </tr>
                <tr>
                    <td style="color: #D14F4F">Коробка передач</td>
                    <td class="sec">Вариатор</td>
                </tr>
                <tr>
                    <td style="color: #D14F4F">Руль</td>
                    <td class="sec">Слева</td>
                </tr>
                <tr>
                    <td style="color: #D14F4F">Привод</td>
                    <td class="sec">Полный привод</td>
                </tr>
                <tr>
                    <td style="color: #D14F4F">Растаможен в Казахстане</td>
                    <td class="sec">Да</td>
                </tr>
                <tr>
                    <td style="color: #D14F4F">Цвет кусова</td>
                    <td class="sec">Красный</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="left-info_price">
            <p>  Цена : 7 516 165 ₸ <br>
                В кредит в месяц: 298 387 ₸
            </p>
            <a style="color:#D14F4F" href="#">Добавить в корзину</a>
            <div class="input-group quantity_goods">
                <input type="number" step="1" min="1" max="10" id="num_count" name="quantity" value="1" title="Qty">
                <input type="button" value="-" id="button_minus">
                <input type="button" value="+" id="button_plus">
            </div>
        </div>
        <div class="left-info_con">
        <div class="content-contacts">
            <p>Контактный номер</p>
                    <p>+7 707 707 07 07</p>
    </div>
        </div>
    </div>
        <div class="right-info">
            <p style="color: #D14F4F">Преимущество<p/>
            <div class="full_info">
                <table class="table table_inf">
                    <tbody>
                    <tr>
                <td>Интерьер. Продуман до миллиметра</td>
                    </tr>
                    <tr>
                <td>Отличная обзорность</td>
                    </tr>
                    <tr>
                <td>Система бесключевого доступа и запуска двигателя при помощи кнопки Start/Stop</td>
                    </tr>
                    <tr>
                <td>Мультимедиа с голосовым управлением, Apple CarPlay и Android Auto, Bluetooth и цветным сенсорным дисплеем 11,6”</td>
                    </tr>
                    <tr>
                        <td>Мультиинформационный ЖК-дисплей</td>
                    </tr>
                    <tr>
                <td>Вместительный багажник</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        </div>
    </div>
</section>
{%endblock%}