{% extends 'shop/base.html' %}
{% load static %}
{%block content%}
<section>
    <div class="container">
        <div class="spec-add">
            <div class="spec-add-content">
                <p> Автозапчасти в вашем городе</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="cars flex">
            <div class="car">
                <img src="img/mparts/pod.jfif" alt="">
                <p>Вилка амортизатор подвеска Yamaha</p>
            </div>
            <div class="car">
                <img src="img/mparts/he.jfif" alt="">
                <p>Цилиндры Yamaha FJ</p>
            </div>
            <div class="car">
                <img src="img/mparts/Dv.jfif" alt="">
                <p>Двигатель в сборе LC8 KTM </p>
            </div>
            <div class="car">
                <img src="img/mparts/Bag.jfif" alt="">
                <p>Багажник задняя</p>
            </div>
        </div>
        <div class="cars flex">
            <div class="car">
                <img src="img/mparts/Far.jfif" alt="">
                <p>Козырьки Поворотников Honda</p>
            </div>
            <div class="car">
                <img src="img/parts/Shin.jpg" alt="">
                <p>Шины</p>
            </div>
            <div class="car">
                <img src="img/parts/gl.jpg" alt="">
                <p>Глушитель для Газель</p>
            </div>
            <div class="car">
                <img src="img/mparts/Ram.jfif" alt="">
                <p>Стеллаж рама Honda</p>
            </div>
        </div>
        <div class="cars flex">
            <div class="car">
                <img src="img/mparts/Hon.jfif" alt="">
                <p>Заполнение правое Honda NC 700</p>
            </div>
            <div class="car">
                <img src="img/mparts/Per.jfif" alt="">
                <p>Регулятор переключатель Yamaha</p>
            </div>
            <div class="car">
                <img src="img/mparts/ZT.jfif" alt="">
                <p>Подвал боковых Honda VT 600</p>
            </div>
            <div class="car">
                <img src="img/mparts/Reg.jfif" alt="">
                <p>Регулятор напряжения Honda CBR</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div id="row"  class="row">
            <p>Страницы: <a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a><a href="#">....</a></p>
        </div>
    </div>
</section>
{%endblock%}